RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.*)$ $1.php
RewriteRule ^propiedad/([0-9]+)/([0-9a-zA-Z_-]+)/([0-9]+)/([0-9a-zA-Z_-]+)/([0-9]+) propiedad.php?idPropiedad=$1&descripcion=$2&idProceso=$3&descripcionPro=$4&idCiclo=$5
RewriteRule ^propiedad/([0-9]+)/([0-9a-zA-Z_-]+)/([0-9]+)/([0-9a-zA-Z_-]+) propiedad.php?idPropiedad=$1&descripcion=$2&idProceso=$3&descripcionPro=$4
RewriteRule ^propiedad/([0-9]+)/([0-9a-zA-Z_-]+) propiedad.php?idPropiedad=$1&descripcion=$2
RewriteRule ^propiedad/([0-9]+) propiedad.php?idPropiedad=$1

RewriteRule ^auditoria_detalle/([0-9]+)/([0-9]+) auditoria_detalle.php?id_auditoria=$1&id_empresa=$2

RewriteRule ^nivel1/([0-9]+) nivel1.php?id=$1
RewriteRule ^nivel1/([0-9]+)/([0-9a-zA-Z_-]+) nivel1.php?id=$1&descripcion=$2